<h1>Forecast for {{model.label}} ({{model.max_production}}kWh)</h1>
<table class="preview-table">
    <thead>
    <tr class="day-names">
        <th>&nbsp;</th>
        <th>Mo</th>
        <th>Di</th>
        <th>Mi</th>
        <th>Do</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>So</th>
    </tr>
    <tr class="day-dates">
        <th>&nbsp;</th>
        <th>(01.01)</th>
        <th>(02.01)</th>
        <th>(03.01)</th>
        <th>(04.01)</th>
        <th>(05.01)</th>
        <th>(06.01)</th>
        <th>(07.01)</th>
    </tr>
    <tr class="percentage">
        <th>&nbsp;</th>
        <td>
            <div class="percentage-empty-30"></div>
            <div class="percentage-full-70"></div>
        </td>
        <td>
            <div class="percentage-empty-20"></div>
            <div class="percentage-full-80"></div>
        </td>
        <td>
            <div class="percentage-empty-60"></div>
            <div class="percentage-full-40"></div>
        </td>
        <td>
            <div class="percentage-empty-70"></div>
            <div class="percentage-full-30"></div>
        </td>
        <td>
            <div class="percentage-empty-10"></div>
            <div class="percentage-full-90"></div>
        </td>
        <td>
            <div class="percentage-empty-90"></div>
            <div class="percentage-full-10"></div>
        </td>
        <td>
            <div class="percentage-empty-50"></div>
            <div class="percentage-full-50"></div>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr class="total">
        <th>Total <br/><span class="small">in kWh</span></th>
        <th>156</th>
        <th>5</th>
        <th>20</th>
        <th>200</th>
        <th>23</th>
        <th>55</th>
        <th>66</th>
    </tr>
    <tr>
        <td>00:00</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>01:00</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    </tbody>
</table>